*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
  padding: 60px;
}

input{
  align-content: center;
  width: 100%;
  color: rgb(87, 81, 81);
  font-size: large;
}

.card {

    border: 1px dotted white;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    padding: 10px;
    
}

.card p {
  max-height: 170px;
  color: rgb(255, 255, 255);
  
}

.card img{
  max-height: 170px;
  align-content: center;
  
}

.card-grid{
 background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.6615021008403361) 41%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

